.header {
  padding: 1.5rem 1.5rem 12px;
  position: relative;
}

.header__title {
  color: #353434;
}

.header__title span {
  margin-left: 12px;
}

.header__title::before {
  content: "";
  background: #6FC284;
  width: 4px;
  height: 33%;
  position: absolute;
  top: 29px;
}

@media (min-width: 1024px) {
  .header {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}
