.post-card {
  margin-top: 46px;
  width: 100%;
}

.post-card__item {
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem;
}

.post-card__title {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.post-card__image {
  max-width: 100%;
  width: 100%;
  margin-bottom: 0.5rem;
}

.post-card__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-card__actions input {
  border: 2px solid #A6ABB6;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.75rem 0.75rem;
  width: 73%;
  margin-right: 0.5rem;
}

.post-card__actions input:focus {
  border-color: #3A77D1;
}

.post-card__actions button {
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #3A77D1;
  font-size: 12px;
  padding: 0rem 1.5em;
  font-weight: 700;
  height: 37px;
  transition: all .2s ease-in-out;
}

.post-card__actions button:hover {
  background-color: #2B65BA;
}

.post-card__reactions {
  color: #626D7B;
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
}

.post-card__reactions span {
  color: #3A77D1;
}

.post-card__reactions .icon {
  margin-right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  stroke: #626D7B;
  fill: #EAECED;
}

@media (min-width: 768px) {
  .post-card {
    width: 50%;
  }
}